.Phaeton-Container {
    width: 100vw;
    height: 100vh;
}

.game-container {
    width: 700px;
    height: 500px;
    position: absolute;
    top: max(20%, 125px);
    left: 50%;
    margin-left: -350px;
    overflow: hidden;
}

.sky {
    background-color: rgb(255, 115, 0);
    width: 700px;
    height: 500px;
    position: absolute;
}

.boundary {
    background-color: black;
    width: 700px;
    height: 50px;
    position: absolute;
}

.bird {
    /* background-color: black; */
    position: absolute;
    width: 60px;
    /* height:  40px; */
}

.game-overlay {
    background-color: transparent;
}

.victory-display {
    color: black;
    text-align: center;
    font-size: x-large;
    top: 50%;
    left: 30%;
    position: absolute;
}

.obstacle {
    width: 100%;
    position: absolute;
}

.obstacle-text {
    position: absolute;
    color: white;
    font-size: x-large;
    font-weight: bold;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
}

.obstacle-image {
    position: absolute;
    left: 0;
    background: url("../../assets/phaeton/long_detailed.svg");
    width: 50px;
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
    /* object-fit: cover; */
}

.obstacle-container {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 500px;
}

.score {
    display: block;
    position: fixed;
    top: 10%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    color: rgb(255, 115, 0);
    font-size: 2rem;
    font-weight: bolder;
    line-height: 0.5;
}

.score-item {
    /* if we need more specific styling */
}