
.sisyphus-game-container {
    position: absolute;
    left: 50%;
    margin-left: max(min(-50vmin, -150px), -350px);
    top: 53%;
    margin-top: max(min(-35.7vmin, -107.2px), -250px);

    background-image: url("../../../assets/underworld/SisyphusBackground.jpg");
    background-size: cover;

    max-width: 700px;
    width: 100vmin;
    min-width: 300px;

    max-height: 500px;
    height: 71.4vmin;
    min-height: 214.3px;

    border: 2px solid black;
    outline: none;
}

.sis-text {
    font-size: min(max(3vmin, 0.6rem), 1.5rem);
}

.sis-hill {
    position: absolute;
    top: 13.4%;
    left: 0;
    width: 100%;
    height: 86.6%;
}

.sis-container {
    position: absolute;
    left: 10vmin;
    max-height: 51.3px;
    height: 10.3vmin;
    min-height: 23.3px;
    min-width: 40.3px;
    width: 13.4vmin;
    max-width: 94px;
    transform: rotate(0deg);
    margin-bottom: -1px;
    transition: left 1s, bottom 1s, transform 1s;
}

.sis-figure {
    position: absolute;
    min-width: 19.3px;
    width: 6.4vmin;
    max-width: 45px;
    left: 0px;
    bottom: 0px;
}

.sis-rock {
    position: absolute;
    min-width: 21px;
    width: 7vmin;
    max-width: 49px;
    left: min(max(5vmin, 15.4px), 36px);
    bottom: 9%;

}

.sis-pos-0 {
    left: 0%;
    bottom: 0%;
}

.sis-pos-1 {
    left: 20%;
    bottom: 6%;
    transform: rotate(-11deg);
}

.sis-pos-2 {
    left: 35%;
    bottom: 13%;
    transform: rotate(-17deg);
}

.sis-pos-3 {
    left: 47%;
    bottom: 21%;
    transform: rotate(-25deg);
}

.sis-pos-4{
    left: 63%;
    bottom: 39%;
    transform: rotate(-37deg);
}

.sis-pos-5 {
    left: 73%;
    bottom: 58%;
    transform: rotate(-48deg);
}

.sis-pos-6 {
    left: 82.5%;
    bottom: 73%;
    transform: rotate(-51deg);
}

.sis-pos-7 {
    left: 86.5%;
    bottom: 86%;
    transform: rotateY(180deg);
}

.sis-pos-7-rock {
    display: none;
}

.sis-pos-failure {
    transition: left 0s, bottom 0s, transform 0s;
    left: 86.5%;
    bottom: 86%;
    transform: rotateY(180deg);
}

.sis-pos-failure-rock { 
    animation-name: rock-roll-down-hill;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    left: 650%; 
    top: 828%;
}

@keyframes rock-roll-down-hill {
    0% { left: 10%; top: 67%; }
    30% { left: 86%; top: 193%; transform: rotate(135deg); }
    55% { left: 200%; top: 452%; transform: rotate(270deg); }
    75% { left: 393%; top: 704%; transform: rotate(405deg); }
    87% { left: 506%; top: 773%; transform: rotate(540deg); }
    100% { left: 650%; top: 828%; transform: rotate(675deg); }
}