
.Hub-Container {
    background-image: url("../assets/hub/background.png");
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.Episode-Button-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Ep-Icon {
    max-width: 10vmin;
    margin-left: 1vmin;
}

.Ep-1 {
    margin-top: 10vmin;
    height: 40vmin;
}

.Ep-Title {
    transform: rotate(-90deg);
    color: white;
    font-size: 7vmin;
    margin: -20vmin;
    margin-top: -22vmin;
    font-weight: lighter;
}

.Ep-2 {
    margin-top: 3vmin;
    height: 60vmin;
}

.Ep-3-Container {
    display: block;
}

.Ep-3 {
    position: relative;
    top: 6vmin;
    margin-left: 0vmin;
    margin-top: 0vmin;
    height: 45vmin;
}

.Ep-3-Text {
    transform: rotate(-90deg);
    margin-left: -10vmin;
    margin-top: 22vmin;
    margin-bottom: 5vmin;
    color: #fff;
    flex: 0.5 0.5;
    width: 30vmin;
    text-align: left;
    font-size: 4.4vmin;
    font-weight: lighter;
    line-height: 1.2;
}

.Ep-4 {
    margin-top: 10vmin;
    height: 60vmin;
}

.Ep-5-Container {
    display: block;
}

.Ep-5 {
    margin-left: 0vmin;
    margin-top: 6vmin;
    height: 41vmin;
}

.Ep-5-Text {
    position: fixed;
    top: 46vmin;
    transform: rotate(-90deg);
    color: #fff;
    text-align: right;
    width: 36vmin;
    margin-left: -14.5vmin;
    margin-top: 14vmin;
    font-size: 2.5vmin;
    line-height: 1;
    font-weight: lighter;
}

.Ep-6 {
    margin-top: 30vmin;
    height: 55vmin;
}

.Additional-Credits {
    position: relative;
    margin-left: 2vw;
    color: white;
    text-align: left;
    font-weight: lighter;
    font-size: 2vmin;
    margin-top: 38vmin;
}

.Materialize {
    opacity: 1;
    animation-name: materialize;
    animation-duration: 1.5s;
}

@keyframes materialize {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.Dematerialize {
    opacity: 0;
    animation-name: dematerialize;
    animation-duration: 2s;
}

@keyframes dematerialize {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}