
.Hub-Container {
    background-image: url("../assets/hub/background.png");
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.Episode-Button-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Ep-Icon {
    max-width: 10vmin;
    margin-left: 1vmin;
}

.Ep-1 {
    margin-top: 10vmin;
    height: 40vmin;
}

.Ep-Title {
    transform: rotate(-90deg);
    color: white;
    font-size: 5vmin;
    margin: -20vmin;
    margin-left: -18vmin;
    font-weight: 300;
}

.Ep-Title-Small {
    margin-bottom: -16vmin;
    margin-top: -24vmin;
}

.Ep-Title-3 {
    margin-top: -20vmin;
    margin-left: -19vmin;
}

.Ep-Title-5 {
    margin-bottom: -16vmin;
    margin-top: -24vmin;
    margin-left: -19vmin;
}

.Ep-Title-6 {
    margin-top: -30vmin;
}

.Ep-Title-Big {
    margin-top: -33vmin;
}

.Ep-2 {
    margin-top: 3vmin;
    height: 60vmin;
}

.Ep-3-Container {
    display: block;
}

.Ep-3 {
    position: relative;
    top: 6vmin;
    margin-left: 0vmin;
    margin-top: 0vmin;
    height: 45vmin;
}

.Ep-3-Text {
    line-height: 1;
    transform: rotate(-90deg);
    margin-left: -9.5vmin;
    margin-top: 22vmin;
    margin-bottom: 5vmin;
    color: #fff;
    flex: 0.5 0.5;
    width: 30vmin;
    text-align: left;
    font-size: 4.4vmin;
    font-weight: lighter;
    line-height: 1.1;
}

.Ep-4 {
    margin-top: 10vmin;
    height: 60vmin;
}

.Ep-5-Container {
    display: block;
}

.Ep-5 {
    margin-left: 0vmin;
    margin-top: 6vmin;
    height: 41vmin;
}

.Ep-5-Text {
    transform: rotate(-90deg);
    color: #fff;
    text-align: right;
    width: 35vmin;
    margin-left: -12.75vmin;
    margin-top: 47vmin;
    font-size: 2.5vmin;
    line-height: 1;
    font-weight: lighter;
}

.Ep-6 {
    margin-top: 30vmin;
    height: 55vmin;
}

.Additional-Credits {
    position: fixed;
    bottom: 7.5vh;
    margin-left: 2vw;
    color: white;
    text-align: left;
    font-weight: lighter;
    font-size: 2vmin;
    /* margin-top: 16vmin; */
}

.Hidden-Text {
    opacity: 0;
}

.Materialize {
    opacity: 1;
    animation-name: materialize;
    animation-duration: 1.5s;
}

@keyframes materialize {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.Dematerialize {
    opacity: 0;
    animation-name: dematerialize;
    animation-duration: 2s;
}

@keyframes dematerialize {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.Program-Button-Container {
    position: fixed;
    bottom: 1vh;
    display: flex;
    width: 100%;
    margin-left: 2vw
}

.Program-Buttons {
    flex-direction: row;
    /* flex: 0.24; */
    flex: 0.32;
    font-weight: 600;
    /* font-size: min(2vmin, 1rem); */
    font-size: min(2.5vmin, 1.15rem);
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 1vh 0vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.5vmin;
    margin-bottom: 0px;
    outline: none;
}

.Program-Buttons:hover, .Program-Buttons:focus {
    background-color: white;
    color: black;
}